body {
    margin: 1rem;
    padding: 0;
    font-family: Roboto;
}

blockquote {
    line-height: 2em;
    font-style: italic;
    font-size: 1.08rem;
}

.dark-green {
    background-color: #2e8405 !important;
}

.black {
    background-color: #000 !important;
}

.transparent {
    background-color: transparent !important;
}

#grid {
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 1rem;
    height: 100rem;
    background-color: #cbbe0d;
}

#grid > div {
    background-color: #000;
}

.c-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

#circle {
    border-radius: 100%;
    height: 50%;
    width: 50%;
}

.triangle {
    height: 100%;
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
}

.text {
    font-size: 16.3rem;
    text-align: center;
    font-weight: 600;
    color: #cbbe0d;
}

.quote {
    grid-column: 3/5;
    grid-row: 5/7;

    display: flex;
    align-items: flex-end;
    height: 120%;
}

.by {
    color: #2e8405;
    margin-left: 10rem;
}

.extra {
    height: 20vh;
    background-color: #cbbe0d;
}
